* {
	outline: none;
	box-sizing: border-box;
	font-family: 'Roboto', Arial, sans-serif;
}

body,h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

svg {
	display: block;
}

em {
	font-style: normal;
	font-weight: 700;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}